<!DOCTYPE html>

<html>
    <head>
        <title>Spring Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Employee Weekly Wage</h2>
        <form method="POST" enctype="multipart/form-data" action="/result">   
            Employee Name: &nbsp
            <input type="text" name="empName">
            <br><br>
            Employee ID: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input type="text" name="empID">
            <br><br>
            Weekly Hours: &nbsp&nbsp&nbsp&nbsp
            <input type="text" name="empHours">
            <br><br>
            Hourly Wage: &nbsp&nbsp&nbsp&nbsp&nbsp
            <input type="text" name="empWage">
            <br><br>
            <input type="submit" value="Submit Employee"> 
        </form>
    </body>
</html>